// Microsoft Visual C++ generated resource script.
//
//#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
1              ICON                    "Source\\verge-logo.ico"
/////////////////////////////////////////////////////////////////////////////
	