*.exp
*.lib
*.pdb
*.idb
*.vcxproj.user
*.obj
*.suo
*.bsc
lua/Debug
lua/Release
Backup
UpgradeLog.htm
.vs/
audiere/vc7/audiere/Debug
audiere/vc7/audiere/Release
audiere/vc7/audiere/bin
corona/output
verge/Debug
verge/Release
verge/v3.log
zlib/Debug
zlib/Release
flac-1.1.4/obj/
flac-1.1.4/src/libFLAC/Debug_static
flac-1.1.4/src/libFLAC/Release_static
Debug/
*.d
*.o
*.a
*.wasm
.sconsign.dblite